# Old and zip files
*.zip
backend_updated*
mo_frontend*

# Dependencies
**/node_modules/
**/dist/
**/.expo/
*.log

# Python
**/__pycache__/
*.py[cod]
**/venv/
**/.venv/
**/env/

# Environment Variables
**/.env
**/.env.local

# OS Files
.DS_Store
Thumbs.db
